@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&family=Roboto+Slab:wght@700&family=Rubik:wght@400;500;700&display=swap');

/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body,
#root,
.app{
  min-height: 100vh;
  /* width: 100%; */
  font-family: "Rubik", sans-serif;
  background: rgba(124, 116, 104, 0.189);
  /* color: bisque; */
  display: flex;
  flex-direction: column;
}

p{
  margin-bottom: 5px;
}

span{
  margin-right: 5px;
  background-color: #70c3d364;
}

small{
  color:rgba(184, 54, 54, 0.622)
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
    color: black; 
}

a:hover{
  color: #d2775e;
}

li {
  list-style: none;
}


h1, h2, h3{
  text-align: center;
}

h4{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


hr{
  width: 72%;
  margin: 0 auto;
  border: .5px dashed rgb(67, 64, 64);
}

input, textarea, select{
  padding: 4px;
  margin: 10px 0px;
  border-radius: 8px;
}

button {
  padding: 4px;
  margin: 10px 10px;
  border-radius: 4px;
  width:100px;
}

main {
  flex: 1; /* Allow the main content to grow and fill the available space */
  /* 
  给main一个min-height
  和一个margin-bottom 因为有sticky footer
   */
  margin-bottom: 50px;
}
/* footer */
footer {
  color: rgb(186, 191, 192);
  background-color: rgb(61, 58, 58);
  width: 100%;
  margin-top: 100vh;
  text-align: center;
  padding: 20px;
  position: sticky;
  /* margin-top: 1vh; */
  bottom: 0; /* Stick the footer to the bottom of the container */
}

/* common */
.center{
  text-align: center;
  padding: 10px 10px;
  margin: 10px 10px;
}

.right{
  text-align: right;
}

.errMsg{
  background-color: rgb(70, 66, 66);
  color:rgb(240, 88, 54);
  text-align: center;
}

.warning button{
  background-color: orange;
}


/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(61, 58, 58);
  color: rgb(186, 191, 192);
  position: sticky;
  top: 0;
}

.nav-links a {
  color: rgb(186, 191, 192);
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #d2775e;
  border-radius: 5px;
  transition: 0.3s ease;
  transform: translateY(3%);
}

.menu li {
  padding: 5px 14px;
}




/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color: rgba(91, 88, 88, 0.667);
    right: 0;
    left: 0;
    text-align: right;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #d2775e;
    transition: 0.3s ease;
    transform: translateX(3%);
  }

  .menu li + li {
    margin-top: 5px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
    transition: 0.3s ease;
  }

  .hamburger {
    display: block;
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}





/* login view */

.login-form-wrapper{
  width: 70%;
  height: 450px;
  margin: 30px auto;
  text-align: right;
  padding: 8em;
  background-image: url('/public/assets/img/td3-mo-bk.png');
  background-size: cover;
  color: rgb(226, 56, 56);
}


.login-form-wrapper 
  input[type="password"], 
  input[type="email"]{
  color: rgb(255, 255, 255);
  padding: 4px;
  margin: 10px 5px;
  text-align: right;
  width: 60%;
  background-color: #667D90;
}

.login-form-wrapper 
  button{
    border: solid rgb(226, 56, 56);
    background-color: rgb(226, 56, 56);
    color: silver;
  }



/* login view responsive */
@media (max-width: 768px) {
  .login-form-wrapper{
  width: 100%;
  margin: 10px auto;
  padding: 4rem;
  background-size: contain;
  background-repeat: no-repeat;
  }
}




/* post list view */
.postList-wrapper{
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}



/* post view */
.post-wrapper{
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-word;
  font-size:small
}

.post-wrapper select{
  width:max-content;
}

.post-wrapper
  input[type="text"]{
  text-align: left;
  width: 72%;
  font-size: medium;
}

.post-wrapper 
  textarea {
  height: 15em;
  width: 100%; 
  padding: 4px;
  margin: 10px 0px;
  text-align: left;
  width: 100%;
  font-size: large;
}


/* post view responsive */
@media (max-width: 768px) {
  .postList-wrapper, .post-wrapper{
    padding: 0;
    width: 96%;
    font-size: smaller;
  }

  .post-wrapper
    input[type="text"]{
    width: 100%;
    font-size: large;
  }

  .post-wrapper
     textarea {
    width: 100%;
    font-size:large;
  }
}


/* post-card */
.post-card{
  color: rgb(80, 77, 77);
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.post-content{
  margin: 3rem 2rem;
  font-size: large;
}

.post-card:hover{
  background-color: rgba(240, 255, 255, 0.486);
  color: rgb(0, 0, 0);
  border-radius: 8px;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* profile-dash view */
.profile-dash-wrapper{
  width: 90%;
  padding: 2rem; 
  margin: 0 auto;
  border-radius: 30px;
}


.grid{
  display: block;
  background-color: rgba(255, 253, 240, 0.486);
}

.grid > * {
    padding: 1.5rem;
}

@media (min-width:768px) {
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}